@import "@/styles/mixins";

.projects {
  &-page {
    padding-top: 8rem;
    padding-bottom: 4rem;
    
    @include desktop {
      padding-top: 12rem;
      padding-bottom: 4rem;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 2rem;
      
      @include desktop {
        max-width: calc( 8 / 12 * 100%);
      }
    }
  }
}